/* .doughnut-body{
    position: relative;
    width: 81%;
    transform: translateX(12%);
}
@media (max-width: 995px) {
    .doughnut-body{
        width: 43%;
        transform: translateX(70%);
  }
} */

.linechart{
    box-shadow: 2px 4px 11px 0px grey;
    padding: 2%;
    border-radius: 2%;
    background-color: white !important;
}
.doughnutchart{
    box-shadow: 2px 4px 11px 0px grey;
    border-radius: 2%;
    padding: 5%;
    background-color: white !important;
}
