@media (max-width: 1220px){
.sidebar-text{
    font-size: medium !important;
}
}
@media (max-width: 1120px){
    .sidebar-text{
        font-size: small !important;
    }
}

.panel-item{
    color: white !important;
}

.panel-item:hover{
   color:black !important;
    background-color:white;
}
.side-panel-item{
    color:white !important
}

.side-panel-item:hover{
    color:rgb(0, 0, 0) !important;
    background-color:white;
}

/* .sidebar-item{
    width: inherit;
} */