@media (max-width: 1220px){
.sidebar-text{
    font-size: medium !important;
}
}
@media (max-width: 1120px){
    .sidebar-text{
        font-size: small !important;
    }
}

.panel-item{
    color: white !important;
}
/* 
.panel-item:hover{
   color:black !important;
    background-color:white;
} */
.side-panel-item{
    color:white !important
}

.sidebar{
    /* width: 100% !important; */
}

/* .sidebar-item{
    width: inherit;
} */