/* .container{
    margin: 0px;
}
.page-footer{
  position: absolute;

}
.chart{
  display:flex;
}
.barchart{
  align-items:flex-start ;

}
.linechart{
  align-items:flex-start ;
  /* justify-content: center; 
} */



.side-panel{
  /* background-color: #e05915; */
  border-right: 1px solid black;
  
}

.side-panel div{
  position: fixed;
  height: 100vh;

}
.side-panel div ul{
  list-style: none;
  padding:0;
}

.side-panel div ul li{
  padding: 25px 20px;
  border-bottom: 1px solid;
  font-size: 15px;
  font-weight: 600;
  color: purple;
}