.App {
  text-align: center;
  display:flex; 
}
.container{
  height: fit-content;
  width: auto;
}
.container-fluid{
  height: 100%;
  font-family: fantasy;
  color:rgb(23,37,42);

}
.page-footer{
  position: absolute;
  bottom:0px;
}